<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>15G조 글쓰기</title>
</head>

<body>
    <div class="card">
        <div class="card-header1">
            <!-- 게시판을 누를시 첫 페이지인 index.html로 이동 -->
            <h1><a href="/">15G조 글쓰기</a></h1>
        </div>
        <div class="card-write">
            <form action="/create/" method="POST">
                <div class="myinfo">
                    {% if not session.get("logged_in") %}
                    <!-- text만 입력하기 위해 input에서 type="text" 지정 -->
                    이름<input type="text" name="username" placeholder="이름을 입력하세요.">
                    <!-- password만 입력하기 위해 input에서 type="password" 지정 -->
                    비밀번호<input type="password" name="password" placeholder="비밀번호를 입력하세요.">
                    {% endif %}
                    비밀 글 <input type="checkbox" name="" id="">
                </div>
                <div class="title-w">
                    제목<input type="text" id="title" name="title" placeholder="제목을 입력하세요.">
                </div>
                <div class="msg">
                    <!-- 내용을 입력하기 위해 textarea tag를 이용 -->
                    내용<textarea id="content" name="content" placeholder="내용을 입력하세요."></textarea>
                    <input type="file">
                </div>
                <div class="btn-wb">
                    <button type="submit" class='btn-write' name='btn' value="1">작성하기</button>
                    <button type="submit" class='btn-back' name='btn' value="0">뒤로가기</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>