<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>글 수정하기</title>
</head>

<body>
    <div class="card">
        <div class="card-header4">
            <h1>글 수정하기</h1></a>
            <form action="/edit/{{ post[0] }}" method="POST">
        </div>
        <div class="card-write d-flex justify-contents-center">
        </div>
        <div class="card-edit">
            <div class="title">
                제목<input type="text" name="title" value="{{ post[2] }}">
            </div>

            <div class="msg">
                <!-- textarea에서는 input의 value와는 다르게 textarea 안에 내용을 작성하며 tab을 없앤다. -->
                내용<textarea name="content" placeholder="내용을 입력하세요.">
                    {{ post[3] }}
                </textarea>

                <div class="US">
                    <input type="file">
                    <span class="secret-checkbox">
                        <span class="text-checkbox">비밀 글</span>
                        <input type="checkbox" name="" id="">
                    </span>
                </div>

                <button class="btn-edit" type="submit">수정</button>
                </form>
            </div>


</body>

</html>